@import "reset.css";
@font-face {
  font-family: Grotesk;
  src: url(../fonts/AkzidenzGroteskPro/AkzidenzGroteskPro-Bold.ttf);
}
body{
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: -100vh;

}
.zomb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 18vh;
}
.yellow{
  position: relative;
  z-index: 1;
  font-family: Grotesk;
  font-size: 200px;
  line-height: 94px;
  text-align: center;
  color: rgba(255, 247, 53, 0.76);
}
.blue{
  position: relative;
  z-index: 1;
  font-family: Grotesk;
  font-size: 200px;
  line-height: 94px;
  text-align: center;
  color: rgba(5, 0, 255, 0.72);
  margin-top: -94px;
}
.red{
  position: relative;
  z-index: 1;
  font-family: Grotesk;
  font-size: 200px;
  line-height: 94px;
  text-align: center;
  color: rgba(255, 0, 0, 0.83);
  margin-top: -90px;
}
.white{
  position: relative;
  z-index: 1;
  font-family: Grotesk;
  font-size: 200px;
  line-height: 94px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin-top: -94px;
}

.line{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  width: 100vw;

}
.tv{
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.hov{
  position: relative;
  z-index: 4;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: -100vh;

}
img:hover + img{
  opacity: 0;
}
#dontthink{
  opacity: 0;
}
#kek{
  opacity: 0;
}
#stairs{
  opacity: 0;
}
#lil{
  opacity: 0;
}
#eye{
  opacity: 0;

}


@media screen and (max-width: 1366px) {
  .tv{

    margin-left: -3vw;
  }
  .hov{

    margin-left: -3vw;
  }
  .text{

    margin-left: -3vw;
  }
  .yellow{

    font-size: 170px;

  }
  .blue{

    font-size: 170px;

  }
  .red{

    font-size: 170px;

  }
  .white{

    font-size: 170px;

  }
  .text{
    position: fixed;
    margin-top: -4vh;

  }
}
@media screen and (max-width: 1280px) {
  .tv{
    margin-left: 0vw;


  }
  .hov{

    margin-left: 0vw;
  }
  .text{
    margin-left: 1vh;
    margin-top: 0vh;

  }
}
@media screen and (max-width: 1024px) {
  body{
    overflow-y: scroll;
  }
  #dontthink{
    opacity: 1;
    margin-top: 5vh;
  }
  #kek{
    opacity: 1;
    margin-top: 5vh;
  }
  #stairs{
    opacity: 1;
    margin-top: 5vh;
  }
  #lil{
    opacity: 1;
    margin-top: 5vh;
  }
  #eye{
    opacity: 1;
    margin-top: 5vh;
  }
  #kuk{
    margin-top: -2vh;
  }
  .line:first-child{
    flex-direction: column;
    align-items: center;
    margin-top: 174vh;
    width: 100vw;
    opacity: 1;


  }
  .line{
    opacity: 0;
    flex-direction: column;
    align-items: center;

    width: 100vw;

  }
  img{
    margin-top: 5vh;
  }

  .hov{
    flex-direction: column;
    margin-top: 0vh;
    opacity: 1;
  }
  .tv{

    display: none;
  }
  .text{
    position: fixed;
    margin-top: 0vh;
    margin-left: 1vw;
  }
  .yellow{

    font-size: 130px;

  }
  .blue{

    font-size: 130px;

  }
  .red{

    font-size: 130px;

  }
  .white{

    font-size: 130px;

  }
  .zomb{
    height: 18vh;
  }
}
@media screen and (max-width: 768px) {

  .line:first-child{
    margin-top: 208vh;
  }
  .text{

    margin-left: 0vw;
  }
  .yellow{

    font-size: 100px;

  }
  .blue{

    font-size: 100px;

  }
  .red{

    font-size: 100px;

  }
  .white{

    font-size: 100px;

  }

}

@media screen and (max-width: 450px) {

  .line:first-child{
    margin-top: 301vh;
  }
  .yellow{

    font-size: 60px;

  }
  .blue{

    font-size: 60px;

  }
  .red{

    font-size: 60px;

  }
  .white{

    font-size: 60px;

  }

}

@media screen and (max-width: 450px) {

  .line:first-child{
    margin-top: 274vh;
  }
  .yellow{

    font-size: 50px;

  }
  .blue{

    font-size: 50px;

  }
  .red{

    font-size: 50px;

  }
  .white{

    font-size: 50px;

  }

}
