body{
  background-color: #000000;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-content: space-around;
  height: 100vh;
  width: 100vw;
}
.line{
  display: flex;
  justify-content: space-around;
}

.circleleft{
  width: 58.79px;
  height: 58.93px;
  background-color: #000000;
  margin-top: -80px;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  border-radius: 100%;
}
.eyes{
  display: flex;
  justify-content: space-around;

}
.right{
  margin-left: 100px;
}
.right2{
  margin-left: 100px;
}
.right3{
  margin-left: 100px;
}
.right4{
  margin-left: 100px;
}
.right5{
  margin-left: 100px;
}
.right6{
  margin-left: 100px;
}
.circleright{
  width: 58.79px;
  height: 58.93px;
  background-color: #000000;
  margin-top: -80px;
  margin-left: 50px;
  position: relative;
  z-index: 2;
  border-radius: 100%;
}
@media screen and (max-width: 800px) {
  .line{
    flex-direction: column;


  }
  .eyes{
    display: flex;
    align-content: space-between;
  }
  .eyes:last-child{
    margin-top: 100px;
  }
}

@media screen and (max-width: 450px) {
  .eyes{

    margin-top: -30vh;
  }
  .eyes:last-child{
    margin-top: -8vh;

  }
  .line:first-child{
    margin-top: 10vh;
  }
  svg{
    height: 35vh;
    width: 35vw;
  }
  .circleleft{
    height: 10vw;
    width: 10vw;
    margin-top: -153px;
  }
  .circleright{
    height: 10vw;
    width: 10vw;
    margin-top: -153px;
  }
}
