body{
  height: 100vh;
  width: 100vw;
  background-color: #FF0000;
  overflow: hidden;

}
.men{
  display: flex;

}
#left{
  margin-left: 20vw;
  margin-top: 19vh;
}
#right{
  margin-left: 17vw;
  margin-top: -5vh;
}
img{
  position: absolute;

}
@media screen and (max-width: 1680px){
  #left{
    margin-left: 20.5vw;
    margin-top: 29vh;
  }
  #right{
    margin-left: 17vw;
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1440px){
  #left{
    margin-left: 0vw;
    margin-top: -1vh;
  }
  #right{
    margin-left: -4vw;
    margin-top: -30vh;
  }
}
