body{
  height: 100vh;
  width: 100vw;
  background-color: #FF0000;
  overflow: hidden;

}
.men{
  display: flex;

}
.head{
  position: fixed;
  z-index: 100;
  display: flex;
  width: 85vw;
  margin-left: 5vw;
  margin-top: 5vh;


  justify-content: space-between;
}
#left{
  margin-left: 20vw;
  margin-top: 19vh;
  position: absolute;

}
#right{
  margin-left: 17vw;
  margin-top: -5vh;
  position: absolute;

}

@media screen and (max-width: 1680px){
  #left{
    margin-left: 20.5vw;
    margin-top: 29vh;
  }
  #right{
    margin-left: 17vw;
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1440px){
  #left{
    margin-left: 0vw;
    margin-top: -1vh;
  }
  #right{
    margin-left: -4vw;
    margin-top: -30vh;
  }
}
@media screen and (max-width: 1280px){
  #left{
    margin-left: -5.5vw;
    margin-top: -2vh;
  }
  #right{
    margin-left: -10vw;
    margin-top: -35vh;
  }
}
@media screen and (max-width: 1024px){
  #left{
    margin-left: 8.5vw;
    margin-top: 76vh;
  }
  #right{
    margin-left: 3vw;
    margin-top: 57vh;
  }
}
@media screen and (max-width: 768px){
  .head img{
    height: 8vh;
  }
  #left{
    width: 80vw;
    height: 77vw;
    margin-left: 9vw;
    margin-top: 56vh;
  }
  #right{
    width: 100vw;
    height: 100vw;
    margin-left: 2vw;
    margin-top: 43vh;
  }
}
