body{
  background-color: #FFF735;
  display: flex;
  justify-content: center;
  height: 100vh;
}
#stair{
  height: 100vh;
  position: fixed;
}
#se{
  width: 100px;
  height: 100px;
  margin-top: 100px;
}
.head{
  position: fixed;
  z-index: 100;
  display: flex;
  width: 85vw;
  margin-left: 5vw;
  margin-top: 5vh;


  justify-content: space-between;
}
