@import "reset.css";
body{
  background-color: #000000;
  margin: 0;
}
.head{
  position: fixed;
  z-index: 100;
  display: flex;
  width: 85vw;
  margin-left: 5vw;
  margin-top: 5vh;


  justify-content: space-between;
}
div{
  transition: 400ms all ease;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #FFF735;

}
nav{
  transition: 400ms all ease;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #0500FF;

}
main{
  transition: 400ms all ease;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #FF0000;

}
